@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button class="btn btn-primary">
    @Html.ActionLink("Create test entities", "CreateTestEntities", "Administrator")
</button>

<button class="btn btn-primary">
    @Html.ActionLink("Export plants", "ExportPlants", "Administrator")
</button>

<button class="btn btn-primary">
    @Html.ActionLink("Empty table", "EmptyTable", "Administrator")
</button>



<div class="errorMessageCust">
    @ViewBag.Message
</div>


