@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Test entities", "TestEntities", "Administrator")
</div>



<div class="errorMessageCust">
    @ViewBag.Message
</div>


