.errorMessageCust {
    color: red;
    font-size: x-large
}

.textAreaCustom {
    width: 100% /*not working*/
}

.element-align-bottom {
    vertical-align: bottom;
    width: 50%;
    margin: 0 auto;
}

.label-inactive-plant {
    background-color: crimson;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 10px            
}

.label-active-plant {
    background-color: green;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 10px
}

.label-in-list {
    font-size: smaller;
    padding: 2px;
}


label.label-plant-number {
    background-color: blueviolet;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 10px
}

