.errorMessageCust {
    color: red;
    font-size: x-large
}

.textAreaCustom {
    width: 100% /*not working*/
}

.element-align-bottom {
    vertical-align: bottom;
    width: 50%;
    margin: 0 auto;
}

.label-inactive-plant {
    background-color: crimson;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 10px
}

.label-active-plant {
    background-color: green;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 10px
}

.label-in-list {
    font-size: smaller;
    padding: 5px 10px;
}

label.label-plant-number {
    background-color: #4E5D6C;
    color: #fff;
    padding: 10px;
    border-radius: 10px
}


.img-thumbnail {
    width: 60px;
    height: 60px;
}

.image-zoom {
    width: auto;
    height: 90px;
    border: 1px solid #e8e8e8;
    padding: 4px;
    background-color: #fff;
}

.right {
    float: right;
    margin-left: 5px;
}

.accent {
    font-size: 3em;
    color: #7dce76;
    /*background-color: blanchedalmond*/
}

.details-box {
    background-color: #4E5D6C;
    border: 0px solid #7dce76;
    border-radius: 0px;
    padding: 20px;
    margin-right: 5px;
}

table {
    margin-top: 45px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-bottom: 1px solid #4E5D6C;
    padding: 5px 10px;
    vertical-align: middle !important;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(255,255,255,.05);
}

th {
    font-weight: 400;
    background-color: #4E5D6C;
    color: rgba(255,255,255,.5);
    padding: 12px 10px !important;
}

th .glyphicon {
    color: rgba(255,255,255,.1);
    margin-left: 5px;
    font-size: 0.8em;
}

th:hover .glyphicon {
    color: #d9534f;
    margin-left: 5px;
    font-size: 0.8em;
    transition: .5s;
}

tr:hover .btn {
    background-color: #d9534f !important;
}


a {
    text-decoration: none;
    transition: .5s;
}

.btn {
    transition: .5s;
}

.btn-default:hover,
.btn-default.hover {
    color: #ffffff;
    background-color: #1e2b38 !important;
    border-color: rgba(0, 0, 0, 0);
}

.glyphicon {
    margin: 5px
}

input,
select,
textarea {
    width: 500px !important;
}


/* Images zoom*/


