.errorMessageCust {
    color: red;
    font-size: x-large
}

.textAreaCustom {
    width: 100% /*not working*/
}

.element-align-bottom {
    vertical-align: bottom;
    width: 50%;
    margin: 0 auto;
}

.label-inactive-plant {
    background-color: crimson;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 10px            
}

.label-active-plant {
    background-color: green;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 10px
}

.label-in-list {
    font-size: smaller;
    padding: 2px;
}


label.label-plant-number {
    background-color: blueviolet;
    color: blanchedalmond;
    padding: 10px;
    border-radius: 10px
}


.navbar-nav > li > a {
    background-color: inherit !important;
}

.img-thumbnail {
    width: 60px;
    height: 60px;
}

.image-zoom {
    width: auto;
    height: 200px;
    border: 1px solid #e8e8e8;
    padding: 4px;
    background-color: #fff;
    -webkit-transition: ease-in-out .3s;
}

.test {
    -webkit-transition: ease-in-out .3s;
}

.right {
    float: right;
    margin-left: 5px;
}

.accent {
    font-size: 3em;
    color: #7dce76;
    /*background-color: blanchedalmond*/
}

.details-box {
    border: 1px solid #7dce76;
    border-radius: 6px;
    padding: 20px;
    margin-right: 5px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-bottom: 1px solid #ebebeb;

}

th {
    font-weight: 400;
    background-color: #808080;
    color: #fff;
    padding: 12px 10px !important;
}

th .glyphicon {
    color: #7dce76;
    margin-left: 5px;
    font-size: 0.8em;
}


a:hover {
    text-decoration: none;
}

.glyphicon {
    margin-right: 6px
}

.btn-sm:hover {
    background-color: darkseagreen;
    -webkit-transition: ease-in-out .3s;
}

/* Images zoom*/


